<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', function() {
        function get_browser() {
          var ua = navigator.userAgent, tem, M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
          if (/trident/i.test(M[1])) {
            tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
            return { name: 'IE', version: (tem[1] || '') };
          }
          if (M[1] === 'Chrome') {
            tem = ua.match(/\bOPR\/(\d+)/)
            if (tem != null) { return { name: 'Opera', version: tem[1] }; }
          }
          if (window.navigator.userAgent.indexOf("KP_CCC_Android") > -1) {
            return { name: 'Android' }
          }
          if (window.navigator.userAgent.indexOf("KAKAOTALK") > -1) {
            return { name: 'kakaotalk' }
          }
          if (window.navigator.userAgent.indexOf("Edge") > -1) {
            tem = ua.match(/\Edge\/(\d+)/)
            if (tem != null) { return { name: 'Edge', version: tem[1] }; }
          }
          M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
          if ((tem = ua.match(/version\/(\d+)/i)) != null) { M.splice(1, 1, tem[1]); }
          return {
            name: M[0],
            version: +M[1]
          };
        }

        var browser = get_browser()
        var isSupport = isSupported(browser);

        function isSupported(browser) {
          var supported = false;
          if (browser.name === 'Android') {
            supported = true;
            // } else if (browser.name === 'Opera' && browser.name === 'Firefox' && browser.name === 'Safari') {
          } else if (browser.name === 'kakaotalk') {
            supported = true; // WebRTC 지원 되지 않아 일단 허용 후 App Redirect
          } else if (browser.name === 'Opera' || browser.name === 'Firefox') {
            supported = false;
          } else if (browser.name === "Chrome" && browser.version >= 48) {
            supported = true;
          } else if ((browser.name === "MSIE" || browser.name === "IE") && browser.version <= 11) {
            supported = false;
          } else if (browser.name === "Edge") {
            supported = true;
          } else {
            supported = true;
          }
          return supported;
        }

        if (!isSupport) {
          //render unsupported message
          document.write('<div style="padding:50px 10px 50px;text-align:center">');
          document.write('  <img src="/static/img/icons/img_logo.png" alt="COCOcall" style="display:block;margin:0 auto;width:140px">');
          document.write('    <div style="margin-top:10px">');
          document.write('      <strong style="font-family:\'Noto Sans KR\',\'돋음\',Dotum;font-weight:normal;font-size:24px;color:#333">다른 브라우저를 이용해 주세요.</strong>');
          document.write('      <p style="margin-top:2px;font-family:\'Noto Sans KR\',\'돋음\',Dotum;font-size:14px;color:#666">현재 사용 중인 브라우저를 지원하지 않습니다.<br />');
          document.write('        서비스를 계속 이용하시려면 디바이스에 맞는 브라우저를 이용해 주세요.<br />');
          document.write('        해당 아이콘을 클릭하면 설치 페이지로 이동합니다.</p>');
          document.write('    </div>');
          document.write('    <div style="margin-top:20px">');
          document.write('      <div style="padding:0 10px">');
          document.write('        <strong style="font-family:\'Noto Sans KR\',\'돋음\',Dotum;font-weight:normal;font-size:18px;color:#333">PC</strong>');
          document.write('        <ul style="margin-top:5px;padding:0">');
          document.write('          <li style="display:inline-block;width:120px;padding:5px 2px">');
          document.write('            <a href="https://www.google.com/chrome/" target="_blank" style="display:block;padding:15px;text-decoration:none;text-align:center;font-size:12px;border-radius:5px;background:#f5f5f5">');
          document.write('              <img src="/static/img/icons/icon_browser_chrome.png" alt="Google Chrome" width="100%">');
          document.write('                <span style="display:block;margin-top:5px;font-family:\'Noto Sans KR\',\'돋음\',Dotum;color:#333">Google Chrome</span>');
          document.write('            </a>');
          document.write('          </li>');
          document.write('          <li style="display:inline-block;width:120px;padding:5px 2px">');
          document.write('            <a href="https://whale.naver.com/" target="_blank" style="display:block;padding:15px;text-decoration:none;text-align:center;font-size:12px;border-radius:5px;background:#f5f5f5">');
          document.write('              <img src="/static/img/icons/icon_browser_whale.png" alt="NAVER whale" width="100%">');
          document.write('                <span style="display:block;margin-top:5px;font-family:\'Noto Sans KR\',\'돋음\',Dotum;color:#333">NAVER whale</span>');
          document.write('            </a>');
          document.write('          </li>');
          document.write('          <li style="display:inline-block;width:120px;padding:5px 2px">');
          document.write('            <a href="https://www.microsoft.com/edge" target="_blank" style="display:block;padding:15px;text-decoration:none;text-align:center;font-size:12px;border-radius:5px;background:#f5f5f5">');
          document.write('              <img src="/static/img/icons/icon_browser_edge.png" alt="Microsoft Edge" width="100%">');
          document.write('                <span style="display:block;margin-top:5px;font-family:\'Noto Sans KR\',\'돋음\',Dotum;color:#333">Microsoft Edge</span>');
          document.write('            </a>');
          document.write('          </li>');
          document.write('        </ul>');
          document.write('      </div>');
          document.write('      <div style="display:inline-block;padding:0 5px;vertical-align:top">');
          document.write('        <strong style="font-family:\'Noto Sans KR\',\'돋음\',Dotum;font-weight:normal;font-size:18px;color:#333">Android</strong>');
          document.write('        <ul style="margin-top:5px;padding:0">');
          document.write('          <li style="display:inline-block;width:120px;padding:5px 2px">');
          document.write('            <a href="https://play.google.com/store/apps/details?id=kr.co.knowledgepoint.knowledgetalkccc" target="_blank"  style="display:block;padding:20px;text-decoration:none;text-align:center;font-size:12px;border-radius:5px;background:#f5f5f5">');
          document.write('              <span style="display:block;width:80px;height:80px;line-height:80px;border-radius:20px;background:#fff;box-shadow:0px 5px 5px 0px rgba(0,0,0,0.05)">');
          document.write('               <img src="/static/img/icons/icon_logo.png" alt="Android COCOcall App" width="50px" style="margin-top:50px;vertical-align:middle">');
          document.write('              </span>');
          document.write('              <span style="display:block;margin-top:10px;font-family:\'Noto Sans KR\',\'돋음\',Dotum;color:#333">App</span>');
          document.write('            </a>');
          document.write('          </li>');
          document.write('          <li style="display:inline-block;width:120px;padding:5px 2px">');
          document.write('            <a href="https://play.google.com/store/apps/details?id=com.android.chrome" target="_blank" style="display:block;padding:20px;text-decoration:none;text-align:center;font-size:12px;border-radius:5px;background:#f5f5f5">');
          document.write('              <span style="display:block;width:80px;height:80px;line-height:80px;border-radius:20px;background:#fff;box-shadow:0px 5px 5px 0px rgba(0,0,0,0.05)">');
          document.write('                <img src="/static/img/icons/icon_browser_chrome.png" alt="Google Chrome" width="80%" style="vertical-align:middle">');
          document.write('              </span>');
          document.write('              <span style="display:block;margin-top:10px;font-family:\'Noto Sans KR\',\'돋음\',Dotum;color:#333">Chrome</span>');
          document.write('            </a>');
          document.write('          </li>');
          document.write('        </ul>');
          document.write('      </div>');
          document.write('      <div style="display:inline-block;padding:0 5px;vertical-align:top">');
          document.write('        <strong style="font-family:\'Noto Sans KR\',\'돋음\',Dotum;font-weight:normal;font-size:18px;color:#333">iPhone</strong>');
          document.write('        <ul style="margin-top:5px;padding:0">');
          document.write('          <li style="display:inline-block;width:120px;padding:5px 2px;vertical-align:top">');
          document.write('            <a href="https://apps.apple.com/kr/app/cococall/id1533624306" target="_blank"  style="display:block;padding:20px;text-decoration:none;text-align:center;font-size:12px;border-radius:5px;background:#f5f5f5">');
          document.write('              <span style="display:block;width:80px;height:80px;line-height:80px;border-radius:20px;background:#fff;box-shadow:0px 5px 5px 0px rgba(0,0,0,0.05)">');
          document.write('                <img src="/static/img/icons/icon_logo.png" alt="Android COCOcall App" width="50px" style="margin-top:50px;vertical-align:middle">');
          document.write('              </span>');
          document.write('              <span style="display:block;margin-top:10px;font-family:\'Noto Sans KR\',\'돋음\',Dotum;color:#333">App</span>');
          document.write('            </a>');
          document.write('          </li>');
          document.write('          <li style="display:inline-block;width:120px;padding:5px 2px;vertical-align:top">');
          document.write('            <a href="#" target="_blank" style="display:block;padding:20px;text-decoration:none;text-align:center;font-size:12px;border-radius:5px;background:#f5f5f5">');
          document.write('              <span style="display:block;width:80px;height:80px;line-height:80px;border-radius:20px;background:#fff;box-shadow:0px 5px 5px 0px rgba(0,0,0,0.05)">');
          document.write('                <img src="/static/img/icons/icon_browser_safari.png" alt="Google Chrome" width="100%" style="vertical-align:middle">');
          document.write('              </span>');
          document.write('              <span style="display:block;margin-top:10px;font-family:\'Noto Sans KR\',\'돋음\',Dotum;color:#333">Safari</span>');
          document.write('            </a>');
          document.write('          </li>');
          document.write('        </ul>');
          document.write('      </div>');
          document.write('    </div>');
          document.write('</div>');
          return false;
        }
      })
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="COCOcall" />
    <meta property="og:description" content="간편하게 즐기는 무료 화상 회의" />
    <meta property="og:image" content="/static/img/icons/img_open_graph.jpg" />
    <title>COCOcall</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#4DBA87">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="knowledgetalk-ccc">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
  </head>
  <body id="top">
    <div id="app"></div>
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
  </body>
  <script>new WOW().init();$(document).ready(function(){$(window).scroll(function(){if($(window).scrollTop()>=10){$('.header').addClass('fixed');}else{$('.header').removeClass('fixed');}});$(".header a").on('click', function(e){if(this.hash!==""){e.preventDefault();var hash=this.hash;$('html, body').animate({scrollTop: $(hash).offset().top},800,function(){window.location.hash = hash;});}});});</script>
</html>
