@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');
@import url("animate.min.css");
@import url("reset.css");

/* common */
html,
body,
.wrapper {position:relative;width:100%;height:100%}

/* main */
.container {position:relative;width:100%;max-width:1000px;height:100%;margin:0 auto;box-sizing:border-box}
.header {overflow:hidden;position:absolute;top:0;left:0;width:100%;height:70px;z-index:1}
.header.fixed::before {animation:fadein .3s}
.header h1 {float:left}
.header h1 a {display:block;line-height:70px;font-family:'Montserrat','Noto Sans KR';font-size:20px;color:#fff}
.header h1 span {display:inline-block;margin-left:2px;padding:3px 10px;line-height:normal;vertical-align:middle;font-family:'Montserrat','Noto Sans KR';font-weight:500;font-size:14px;color:#fff;border:2px solid #fff;border-radius:1.5em}
.header .menu {overflow:hidden;float:right;height:40px;margin-top:15px}
.header .menu a {display:inline-block;height:40px;margin-right:25px;vertical-align:middle;font-family:'Montserrat','Noto Sans KR';font-size:16px}
.header .menu a span {display:block;height:40px;line-height:40px;color:#fff;transition:transform .3s}
.header .menu a span::after {content:attr(data-menu);display:block;height:40px;line-height:40px;color:#fff;transition:color .3s}
.header .menu a:hover span {transform:translateY(-40px)}
.header .menu a:active span::after {color:rgba(255,255,255,0.7)}
.header .menu button.lang {padding:8px 12px;vertical-align:middle;text-align:center;border-radius:1.5em;border:1px solid #fff;box-sizing:border-box}
.header .menu button.lang span {display:block;font-size:12px;color:#fff;transition:transform .3s}
.header .menu button.lang span {padding-left:22px;background:url('../images/icon_lang.png') no-repeat 0 center;background-size:16px 16px}
.header .menu button.lang:active {background:rgba(255,255,255,0.1);transition:background-color .3s}
.header.fixed {position:fixed}
.header.fixed::before {content:'';position:absolute;top:0;left:0;display:block;width:100%;height:100%;background-image:linear-gradient(to left, #EA6060, #7117EA);box-shadow:0px 10px 20px 0px rgba(0,0,0,0.2)}
.main .visual {overflow:hidden;position:relative;height:100vh}
.main .visual .bg {position:absolute;top:0;left:0;width:100%;height:100%}
.main .visual .bg img {width:100%;height:100%;object-fit:cover;filter:blur(3px);transform:scale(1.1);animation:zoomin 2s}
.main .visual .bg::after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6)}
.main .visual .content {position:absolute;top:50%;transform:translateY(-50%)}
.main .visual .content strong {display:block;font-family:'Montserrat',sans-serif;font-size:30px;color:#fff}
.main .visual .content strong span {display:inline-block;margin-left:2px;padding:2px 10px;line-height:normal;vertical-align:middle;font-family:'Montserrat',sans-serif;font-weight:500;font-size:18px;color:#fff;border:2px solid #fff;border-radius:1.5em}
.main .visual .content p {display:block;font-family:'Montserrat','Noto Sans KR';font-weight:900;font-size:60px;color:transparent;-webkit-text-stroke:1px #fff}
.main .visual .content p span {font-weight:900;color:#fff;-webkit-text-stroke:0}
.main .visual .content button {position:relative;height:60px;margin-top:40px;padding:0 50px;font-size:20px;color:#fff;border-radius:60px;background-color:#7117EA}
.main .visual .content button:hover {background:#5e13bf;transition:background-color .3s}
.main .visual .content button:active {background:#4b0f99;transition:background-color .3s}
.main .visual .content button:hover::before {content:'';position:absolute;top:30px;right:-30px;display:block;width:60px;height:1px;background:rgba(255,255,255,0.6);animation:fadein .3s, slideRight .3s}
.main .visual .content button:hover::after {content:'';position:absolute;top:25px;right:-32px;transform:rotate(45deg);display:block;width:14px;height:1px;background:rgba(255,255,255,0.6);animation:fadein .3s, slideRight .3s}
.main .visual .scroll {position:absolute;bottom:40px;left:50%;display:block;width:1px;height:30px;background:rgba(255,255,255,0.6);animation:scrolldown .8s infinite linear}
.main .visual .scroll::before {content:'';position:absolute;bottom:-2px;left:4px;display:block;width:1px;height:12px;transform:rotate(45deg);background:rgba(255,255,255,0.6)}
.main section {width:100%}
.main section .container {padding-top:120px;padding-bottom:120px}
.main section h2 {text-align:center;font-family:'Montserrat','Noto Sans KR';font-size:30px;color:#333}
.main section h2 span {display:inline-block;margin-left:2px;padding:2px 10px;line-height:normal;vertical-align:middle;font-weight:700;font-size:18px;color:#333;border:2px solid #333;border-radius:1.5em}
.main .information {background:#f5f5f5}
.main .information li {position:relative;margin-top:70px}
.main .information li::before {content:'';display:block;width:60%;height:400px;margin-left:40%;background-repeat:no-repeat;background-position:center right;background-size:cover}
.main .information li:nth-child(2n)::before {right:0;margin-left:0}
.main .information li:nth-child(2n) .box {right:0;background:#fff}
.main .information li:nth-child(2n) .box .tit,
.main .information li:nth-child(2n) .box .content p {color:#7117EA}
.main .information li:nth-child(2n) .box strong {-webkit-text-stroke-color:#7117EA}
.main .information li:nth-child(1)::before {background-image:url('../images/img_information_03.jpg')}
.main .information li:nth-child(2)::before {background-image:url('../images/img_information_02.jpg')}
.main .information li:nth-child(3)::before {background-image:url('../images/img_information_01.jpg')}
.main .information .box {position:absolute;top:50%;transform:translateY(-50%);width:50%;padding:50px;background:#7117EA;box-shadow:20px 20px 30px rgba(0,0,0,.2);box-sizing:border-box}
.main .information .box .tit {text-align:center;font-family:'Montserrat','Noto Sans KR';font-weight:300;font-size:30px;color:#fff}
.main .information .box .tit strong {font-family:'Montserrat','Noto Sans KR';font-weight:900;font-size:50px;color:transparent;-webkit-text-stroke:1px #fff}
.main .information .box .content p {margin-top:30px;text-align:center;font-weight:100;font-size:18px;color:#fff}
.main .function ul {overflow:hidden}
.main .function li {float:left;width:25%;padding-top:65px;text-align:center;background-repeat:no-repeat;background-position:center 5px;background-size:auto 50px;box-sizing:border-box;transition:background-position .3s}
.main .function li:hover {background-position-y:0}
.main .function li:nth-child(1) {background-image:url('../images/img_function_01.png')}
.main .function li:nth-child(2) {background-image:url('../images/img_function_02.png')}
.main .function li:nth-child(3) {background-image:url('../images/img_function_03.png')}
.main .function li:nth-child(4) {background-image:url('../images/img_function_04.png')}
.main .function li strong {display:block;font-size:18px;color:#333}
.main .function li p {margin-top:10px;color:#999}
.main .function li p span {display:block;font-size:12px}
.main .guide {background:#f5f5f5}
.main .guide ul {overflow:hidden}
.main .guide li {float:left;width:calc(50% - 10px);padding:30px;background:#fff;box-sizing:border-box}
.main .guide li:nth-child(2n) {margin-left:20px}
.main .guide li + li:not(:nth-child(2)) {margin-top:20px}
.main .guide li .img {overflow:hidden;width:100%}
.main .guide li .img img {width:100%;transition:transform .3s}
.main .guide li:hover .img img {transform:scale(1.05)}
.main .guide strong {display:block;margin-top:30px;font-family:'Montserrat','Noto Sans KR';font-weight:900;font-size:20px;color:#7117EA}
.main .guide p {min-height:45px;margin-top:10px}
.main .guide p span {display:block;font-size:12px;color:#999}
.main .download {position:relative;background:#7117EA}
.main .download::before {content:'';position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:url('../images/bg_app_download.png') no-repeat center center;background-size:cover}
.main .download .container {position:relative;padding-top:60px;padding-bottom:0;text-align:center}
.main .download .content {display:inline-block;height:400px;padding-top:80px;padding-left:350px;text-align:left;background:url('../images/img_app_phone.png') no-repeat left top;background-size:270px auto;box-sizing:border-box}
.main .download .content .logo {display:block;font-family:'Montserrat','Noto Sans KR';font-size:20px;color:#fff}
.main .download .content .logo span {display:inline-block;margin-left:2px;padding:3px 10px;line-height:normal;vertical-align:middle;font-family:'Montserrat','Noto Sans KR';font-weight:500;font-size:14px;color:#fff;border:2px solid #fff;border-radius:1.5em}
.main .download .content .text {margin-top:10px;color:#fff}
.main .download .content .text strong {font-size:30px}
.main .download .content .text p {font-size:20px}
.main .download .content .text span {color:rgba(255,255,255,0.5)}
.main .download .content a {display:inline-block;width:160px;margin-top:40px}
.main .download .content a img {width:100%}

.footer {background:#151515}
.footer .container {padding-top:50px;padding-bottom:50px;color:#666}
.footer .link {overflow:hidden;margin-top:10px}
.footer .link a {float:left;display:block;color:#999}
.footer .link a:hover {text-decoration:underline}
.footer .link a + a::before {content:'';display:inline-block;width:1px;height:8px;margin-left:10px;margin-right:10px;vertical-align:middle;background:#666}
.footer .company {margin-top:10px;color:#666}
.footer .company a {color:#666}
.footer .company a:hover {color:#999}
.footer .company strong {display:block;font-size:16px}
.footer .company strong span {font-size:12px}
.footer .company span:not(:first-child) {margin-left:10px}
.footer .copyright {margin-top:5px;color:#666}

/* video */
.videoContainer {overflow:hidden;width:100%;height:100%}
.video {position:relative;float:left;width:100%;height:100%;background:url('../images/img_user.png') no-repeat center center #eee;background-size:15% auto;box-sizing:border-box}
.video video {width:100%;height:100%;object-fit:cover}
.video.local {position:absolute}
.video.speaker {position:relative}
.video.speaker::before,
.video.speaker::after {content:'';position:absolute;display:block;width:100%;height:100%;border-style:solid;border-image:linear-gradient(-35deg, rgba(234,96,96,1) 0%, rgba(113,23,234,1) 100%);border-image-slice:1;box-sizing:border-box}
.video.speaker::before {top:0;right:0}
.video.speaker::after {bottom:0;left:0}
.video.speaker::before {border-width:5px 0 0 5px;border-color:red;animation:borderDrawBefore 1.5s}
.video.speaker::after {border-width:0 5px 5px 0;border-color:blue;animation:borderDrawAfter 1.5s}
.video.camOff {background:url('../images/img_camera_off.png') no-repeat center center #eee;background-size:15% auto}

.userContainer {position:absolute;bottom:10px;left:0;display:flex;justify-content:center;width:100%;padding:0 5px;box-sizing:border-box}
.userContainer .user {overflow:hidden;height:30px;border-radius:1.5em;background:rgba(0,0,0,0.5)}
.userContainer .user .name {overflow:hidden;float:left;display:block;max-width:200px;height:30px;line-height:30px;padding:0 15px;text-overflow:ellipsis;white-space:nowrap;font-size:14px;color:#fff;box-sizing:border-box}
.userContainer .user .name:only-child {border-radius:1.5em}
.userContainer .user .name.micOff::before {content:'';display:inline-block;width:12px;height:12px;margin-right:5px;background:url('../images/icon_mic_off.png') no-repeat left center;background-size:cover}
.userContainer .user button {float:right;display:block;width:30px;height:30px;vertical-align:middle;font-size:0;border-left:1px solid rgba(255,255,255,0.1);border-top-right-radius:1.5em;border-bottom-right-radius:1.5em;box-sizing:border-box}
.userContainer .user button:active {background:rgba(0,0,0,0.2)}
.userContainer .user button::before {content:'';display:block;width:12px;height:12px;margin:0 auto;background:url('../images/icon_video_pen.png') no-repeat 0 0;background-size:cover}
.video.local .userContainer .user .name {max-width:calc(100% - 30px)}

.mainVideo {width:100%;height:100%}
.mainVideo.one .video.local .userContainer {bottom:75px}
.mainVideo.two .video.local {bottom:2vw;right:2vw;width:25%;height:30%;box-shadow:0px 10px 20px 0px rgba(0,0,0,0.2);z-index:1}
.mainVideo.four .video {width:50%;height:50%}
.mainVideo.six .video {width:33.33%;height:50%}
.mainVideo.nine .video {width:33.33%;height:33.33%}
.mainVideo.twelve .video {width:25%;height:33.33%}
.mainVideo.sixteen .video {width:25%;height:25%}

.shareContainer {float:left;width:80%;height:100%;transition:width .3s}
.shareContainer .shareVideo {width:100%;height:100%}
.shareContainer .shareVideo .video {background:#111}
.shareContainer .shareVideo .video::before {content:'';position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:linear-gradient(-30deg, #EA6060, #7117EA);opacity:0.15}
.shareContainer .shareVideo .video video {position:relative;object-fit:contain}
.shareContainer .share {position:relative;display:flex;width:100%;height:100%;justify-content:center;align-items:center;flex-direction:column;background:#111}
.shareContainer .share::before {content:'';position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:linear-gradient(-30deg, #EA6060, #7117EA);opacity:0.15}
.shareContainer .content {position:relative;padding:0 10%;text-align:center}
.shareContainer .content img {display:block;margin:20px auto 0;height:60px}
.shareContainer .content p {margin-top:25px;text-align:center;font-size:16px;color:#fff;opacity:0.8}
.shareContainer .content button {display:block;margin:40px auto 0;padding:8px 25px;font-size:16px;color:#fff ;border-radius:1.5em;background:#7117EA;box-shadow:0px 10px 20px 0px rgba(0,0,0,0.1)}
.shareContainer .content button:hover {background:#5e13bf}
.shareContainer .content button:active {background:#4b0f99}
.mainVideoContainer {position:relative;float:left;width:20%;height:100%;transition:width .3s}
.mainVideoContainer .mainVideo {overflow-y:auto;position:relative;float:right;width:calc(100% - 24px);height:100%;background:#fff}
.mainVideoContainer .mainVideo .video {width:100%;height:25%}
.mainVideoContainer .mainVideo .video:only-child {height:100%}
.mainVideoContainer .mainVideo .video:first-child:nth-last-child(2),
.mainVideoContainer .mainVideo .video:first-child:nth-last-child(2) ~ .video {height:50%}
.mainVideoContainer .mainVideo .video:first-child:nth-last-child(3),
.mainVideoContainer .mainVideo .video:first-child:nth-last-child(3) ~ .video {height:33.33%}
.mainVideoContainer .button {float:left;position:absolute;top:0;left:0;width:34px;height:100%;transition:all .3s}
.mainVideoContainer .button button {width:100%;height:100%;font-size:0;background:#ccc}
.mainVideoContainer .button button::before {content:'';display:inline-block;width:14px;height:14px;margin-left:-10px;background:url('../images/icon_arrow.png') no-repeat 0 0;background-size:cover;transition:margin .3s}
.mainVideoContainer .button:hover {left:-10px}
.mainVideoContainer .button:hover button {background:#7117EA}
.mainVideoContainer .button:hover button::before {margin-left:0;background-image:url('../images/icon_double_arrow.png')}
.videoContainer.close .shareContainer {width:calc(100% - 24px)}
.videoContainer.close .mainVideoContainer {width:24px}
.videoContainer.close .mainVideoContainer .button button::before {transform:scaleX(-1)}

.buttonContainer {position:fixed;bottom:0;left:0;display:flex;justify-content:center;align-items:flex-end;width:100%;height:30%;padding-bottom:50px;box-sizing:border-box;z-index:10}
.buttonContainer::before {content:'';position:absolute;bottom:0;left:0;display:block;width:100%;height:100%;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,  rgba(0,0,0,0.3) 100%)}
.buttonContainer .button {position:relative;padding:15px;border-radius:5em;background:rgba(0,0,0,0.8)}
.buttonContainer .button::after {content:'';display:block;clear:both}
.buttonContainer .button button {position:relative;float:left;display:block;width:56px;height:56px;margin-left:10px;border-radius:100%}
.buttonContainer .button button::before {content:'';display:block;width:26px;height:26px;margin:0 auto;background-repeat:no-repeat;background-position:center center;background-size:cover;transition:opacity .3s}
.buttonContainer .button button:not(.endCall):active {background-color:rgba(0,0,0,0.7)}
.buttonContainer .button button.off::before {opacity:0.5}
.buttonContainer .button button.mic::before {background-image:url('../images/icon_mic_on.png')}
.buttonContainer .button button.mic.off::before {background-image:url('../images/icon_mic_off.png')}
.buttonContainer .button button.camera::before {background-image:url('../images/icon_camera_on.png')}
.buttonContainer .button button.camera.off::before {background-image:url('../images/icon_camera_off.png')}
.buttonContainer .button button.share::before {background-image:url('../images/icon_screen_share.png')}
.buttonContainer .button button.invite::before {background-image:url('../images/icon_invite.png')}
.buttonContainer .button button.enter::before {background-image:url('../images/icon_enter.png')}
.buttonContainer .button button.setting::before {background-image:url('../images/icon_setting.png')}
.buttonContainer .button button.endCall {font-size:0;background-color:#ea1717}
.buttonContainer .button button.endCall::before {background-image:url('../images/icon_endcall.png');transition:transform .3s}
.buttonContainer .button button.endCall:active {background-color:#cc1414}
.buttonContainer .button button.endCall:hover::before {transform:rotate(135deg)}
.buttonContainer .button button span {display:none;position:absolute;top:-30px;left:50%;transform:translateX(-50%);padding:4px 12px;white-space:nowrap;font-size:12px;color:#333;border-radius:1.5em;background:#fff;box-shadow:0px 10px 20px 0px rgba(0,0,0,0.2)}
.buttonContainer .button button:hover span {display:block;animation:fadein .3s}
.buttonContainer .button button span::before {content:'';position:absolute;bottom:-4px;left:50%;margin-left:-4px;display:block;width:8px;height:8px;transform:rotate(45deg);background:#fff}
.buttonInfo {position:absolute;left:50px;bottom:50px;padding:15px 20px;border-radius:10px;background:linear-gradient(to left, #EA6060, #7117EA);box-shadow:0px 10px 20px 0px rgba(0,0,0,0.2)}
.buttonInfo::before {content:'';position:absolute;bottom:-16px;left:20px;display:block;border:8px solid transparent;border-top-color:#7117EA}
.buttonInfo strong {padding-left:24px;font-size:20px;color:#fff;background:url('../images/icon_menu.png') no-repeat 0 center;background-size:16px 16px}
.buttonInfo p {margin-top:10px;color:rgba(255,255,255,0.7)}

.modal {position:fixed;top:0;left:0;width:100%;height:100%;z-index:100}
.modal::before {content:'';position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:rgba(0,0,0,0.5)}
.modalContainer {position:absolute;top:50%;left:50%;width:auto;min-width:470px;transform:translate(-50%,-50%)}
.modalHeader {position:relative;width:100%;height:60px;line-height:60px;padding:0 20px;font-size:18px;color:#fff;background:linear-gradient(to left, #EA6060, #7117EA);box-sizing:border-box}
.modalHeader button {overflow:hidden;position:absolute;top:15px;right:20px;display:block;width:30px;height:30px;text-indent:-999px;background:url('../images/icon_close.png') no-repeat center center;background-size:20px 20px;transition:transform 0.3s}
.modalHeader button:hover {transform:rotate(90deg)}
.modalHeader .name::before {content:'';display:inline-block;width:20px;height:20px;margin-right:8px;vertical-align:middle;background:url('../images/icon_name_modity.png') no-repeat 0 0;background-size:cover}
.modalHeader .invite::before {content:'';display:inline-block;width:20px;height:20px;margin-right:8px;vertical-align:middle;background:url('../images/icon_invite.png') no-repeat 0 0;background-size:cover}
.modalHeader .setting::before {content:'';display:inline-block;width:20px;height:20px;margin-right:8px;vertical-align:middle;background:url('../images/icon_setting.png') no-repeat 0 0;background-size:cover}
.modalHeader .enter::before {content:'';display:inline-block;width:20px;height:20px;margin-right:8px;vertical-align:middle;background:url('../images/icon_enter.png') no-repeat 0 0;background-size:cover}
.modalContent {padding:50px 30px;background:#fff;box-shadow:0px 10px 20px 0px rgba(0,0,0,0.2)}
.modalContent > p {text-align:center;font-size:16px}
.modalContent .input {position:relative}
.modalContent .input input {width:100%;padding:0 10px;line-height:37px;font-size:16px;border-bottom:1px solid #ccc;outline:none;box-sizing:border-box}
.modalContent .input input + label::after {content:'';position:absolute;bottom:0;left:0;display:block;width:0;height:2px;background:#7117EA}
.modalContent .input input:focus + label::after {width:100%;transition:all .3s}
.modalContent .invite {text-align:center}
.modalContent .invite .btn {position:relative;display:inline-block}
.modalContent .invite .btn + .btn {margin-left:30px}
.modalContent .invite .btn.disalbed {opacity:0.3}
.modalContent .invite .btn span {display:block;margin-top:5px;font-size:13px}
.modalContent .invite button {display:block;width:70px;height:70px;border-radius:100%;transition:background-color .3s}
.modalContent .invite button::before {content:'';display:block;width:35px;height:35px;margin:0 auto;background-repeat:no-repeat;background-position:center center;background-size:cover}
.modalContent .invite button.url {background:#555}
.modalContent .invite button.url::before {width:30px;height:30px;background-image:url('../images/icon_link.png')}
.modalContent .invite button.url:hover {background-color:#444}
.modalContent .invite button.url:active {background-color:#333}
.modalContent .invite button.talk {background-color:#ffe812}
.modalContent .invite button.talk::before {background-image:url('../images/icon_kakaotalk.png')}
.modalContent .invite button.message {background-color:#2ecc71}
.modalContent .invite button.message::before {background-image:url('../images/icon_message.png')}
.modalContent .setting .select li + li {margin-top:15px}
.modalContent .setting .select label {display:block;margin-bottom:5px;font-size:12px;color:#7117EA}
.modalContent .setting .select select {width:100%;height:36px;padding:0 10px;border:1px solid #ddd}
.modalContent .button {margin-top:30px;text-align:center}
.modalContent .button button {display:inline-block;padding:8px 25px;font-size:16px;color:#fff;border-radius:1.5em}
.modalContent .button button + button {margin-left:5px}
.modalContent .button button:hover {transition:color .3s, background-color .3s, border-color .3s}
.modalContent .button button.submit {background:#7117EA}
.modalContent .button button.submit:hover {background:#5e13bf}
.modalContent .button button.submit:active {background:#4b0f99}
.modalContent .button button.cancel {padding:6px 23px;color:#999;border:2px solid #999}
.modalContent .button button.cancel:hover {color:#fff;border-color:#999;background:#999}
.modalContent .button button.cancel:active {border-color:#777;background:#777}
.modalCheck .checkbox {margin-top:10px}
.modalCheck .checkbox input[type="checkbox"] {background:transparent}
.modalCheck .checkbox label {color:#fff}

.toast {position:fixed;top:50px;width:100%;text-align:center;z-index:101}
.toast p {display:inline-block;padding:8px 25px;color:#fff;border-radius:1.5em;background:rgba(0,0,0,0.6)}

/* animation */
@keyframes zoomin {
  0% {transform:scale(1)}
  100% {transform:scale(1.1)}
}
@keyframes fadein {
  0% {opacity:0}
  100% {opacity:1}
}
@keyframes slideRight {
  0% {margin-right:10px}
  100% {margin-right:0}
}
@keyframes scrolldown {
  0% {transform:translateY(0)}
  50% {transform:translateY(5px)}
  100% {transform:translateY(0)}
}


@keyframes borderDrawBefore {
  0% {width:0;height:0}
  25% {width:100%;height:0}
  50% {width:100%;height:100%}
  75% {width:100%;height:100%}
  100% {width:100%;height:100%}
}
@keyframes borderDrawAfter {
  0% {width:0;height:0;visibility:hidden}
  25% {width:0;height:0;visibility:hidden}
  50% {width:0;height:0;visibility:hidden}
  75% {width:100%;height:0}
  100% {width:100%;height:100%}
}

/* media */
@media screen and (max-width: 1200px) {
   .container {width:90%}
   .header .menu a {margin-right:10px}
}

@media screen and (max-width: 767px) {
   .header {height:auto;padding:15px 0}
   .header h1 a {line-height:30px;font-size:16px}
   .header h1 span {font-size:12px}
   .header .menu {height:auto;margin:0}
   .header .menu a {display:none}
   .header .menu button.lang {padding:4px 8px}
   .header .menu button.lang span {font-size:12px}
   .main .visual .content {text-align:center}
   .main .information li + li {margin-top:120px}
   .main .information li::before {width:80%;height:300px;margin-left:20%}
   .main .information .box {top:auto;bottom:-50px;width:80%;padding:30px;transform:none}
   .main .function li {width:50%}
   .main .function li + li:not(:nth-child(2)) {margin-top:50px}
   .main .guide li {width:100%}
   .main .guide li + li {margin-top:20px}
   .main .guide li:nth-child(2n) {margin-left:0}
   .main .guide li p {min-height:auto}
   .main .download .content {height:600px;padding:0;text-align:center;background-position:center 280px}
   .footer .company p span {display:block;margin-left:0 !important}

   .mainVideo.two .video.local {width:40%}
   .mainVideo.six .video {width:50%;height:33.33%}
   .mainVideo.twelve .video {width:33.33%;height:25%}
   .modalContainer {min-width:90%}
   .shareContainer {width:100%;height:75%}
   .mainVideoContainer {width:100%;height:25%}
   .mainVideoContainer .button {width:100%;height:34px}
   .mainVideoContainer .button:hover {top:-10px;left:0}
   .mainVideoContainer .button button::before {margin-top:-10px;margin-left:0;transform:rotate(90deg)}
   .mainVideoContainer .button:hover button::before {margin-top:0;background-image:url('../images/icon_double_arrow.png')}
   .mainVideoContainer .mainVideo {overflow-x:auto;overflow-y:hidden;width:100%;height:calc(100% - 24px);margin-top:24px;font-size:0;white-space:nowrap}
   .mainVideoContainer .mainVideo .video {display:inline-block;float:none;width:45%;height:100% !important;font-size:14px}
   .mainVideoContainer .mainVideo .video:first-child:nth-last-child(2),
   .mainVideoContainer .mainVideo .video:first-child:nth-last-child(2) ~ .video {width:50%}
   .videoContainer.close .shareContainer {width:100%;height:calc(100% - 24px)}
   .videoContainer.close .mainVideoContainer {width:100%;height:24px}
   .videoContainer.close .mainVideoContainer .button button::before {transform:rotate(-90deg)}

   .modalContent {padding:50px 20px}
   .toast {top:auto;bottom:50px}
}

@media screen and (max-width: 479px) {
   .main .visual .content strong {font-size:20px}
   .main .visual .content strong span {font-size:14px}
   .main .visual .content span {font-size:45px}
   .main .visual .content button {font-size:16px}
   .main .information .box {padding:20px}
   .main .information .box .content p {font-size:14px}
   .main .function li {width:100%}
   .main .function li + li {margin-top:50px}

   .buttonContainer .button button {width:50px;height:50px;margin-left:0}
   .modalContainer {width:100%;min-width:100%;height:100%}
}
